*{
    -webkit-print-color-adjust: exact
  }
  .header-footer {
      background-color: #FFF9C4 !important;
      width: 100%;
      display: flex;
      justify-content: space-between;
      
    }
    #header{
      margin: 0;
      padding: 0;
    }
    body {
      margin: 0;
      padding: 0;
    }